.experience-wrapper {
    position: relative;
    display: inline-block;
    padding: 1rem;
    border: 2px solid #3B3B3B;
    border-radius: 1rem;
    transition: border-color 0s, transform 0.3s ease-in-out;
  }