.framework-wrapper {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border: 2px solid #3B3B3B;
  border-radius: 1rem;
  transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
}

.framework-wrapper:hover {
  border-color: #3B3B3B;
  transform: translateY(-0.5rem);
  opacity: 0.8;
}

.icon {
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.framework-wrapper::after {
  display: none;
}
